html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	background-image: url("http://styles.prosites.com/litesite/2077/images/bg.jpg"
);
}

.navcontainer {
	display: flex;
	flex-direction: column;
	margin: 5px;

}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.navbar p {
	padding: 10px;
	font-family: Arial;
}

.bigContainer {
	width: 1200px;
	height: 2112px;
	background-color: #fff;
	display: flex;
	flex-direction:column;
	margin:0 auto;
}

.infoContainer {
	padding-bottom: 15px;

	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.add {
	width: 1000px;
	padding-top: 25px;
	padding-left: 45px;
}

.phone {
	width: 200px;
    background-color: white;
	color: rgba(113, 100, 76, 1);
}

.photoBar {
	height: 284px;
	background-color: rgba(97, 85, 68, 1);
}

.imageOne {
	margin: auto;
	width: 994px;
}

.content {
	width: 900px;
	margin: 0 auto;
	padding: 50px 120px;
	text-align: left;

}

.name {
	text-align: center;
}

.pic {
     text-align: center;
}

li {
	padding: 5px;
}

.circle {
	text-align: center;
}
.ada {
	text-align: center;
}


